#auth {
  display: block;
  margin: 50px auto;
  width: 420px;
  color: $primary;

  label {
    display: inline-block;
    font-size: 16px;

    @include font-strong;
  }

  input {
    display: block;
    padding: 10px;
    margin: 5px 0 15px;
    width: 100%;
    background: $blue-background;
    color: darken($primary, 10%);
    border: 2px solid lighten($primary, 5%);
    outline: none;

    @include font-strong;
  }
}