.btn {
  display: inline-block;
  position: relative;
  padding: 5px 20px;
  margin: 0;
  color: $clr-red;
  overflow: hidden;

  @include transition(background .1s ease-in-out);

  i {
    @extend .icon;
    @extend .icon.s18;

    margin-top: -3px;
    margin-right: 5px;
    margin-left: -5px;
    vertical-align: middle;
  }

  &:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);

    @include transition(width .2s ease-out);
  }

  &.wide {
    padding: 5px 40px;
  }

  &.disabled, &:disabled {
    background: $clr-blue-grey-300;
    color: $clr-blue-grey-600;
    &.silent {
      cursor: default;
      background: rgba(0, 0, 0, 0.05);
      color: rgba(255, 255, 255, 0.2);
    }
  }

  &:not(:disabled):not(.disabled) {
    &:hover {
      background: $clr-light-blue;
      &:after {
        display: block;
        @include animation(caret 1s infinite);
      }
    }

    &:active {
      &:after {
        display: block;
        width: 100%;
        @include animation(none);
      }
    }

    &.primary {
      color: $clr-white;
      background: $primary;
      @include font-strong;
      &:hover { background: lighten($primary, 5%); }
    }

    &.secondary {
      color: $clr-white;
      background: $secondary;
      @include font-strong;
      &:after { background: rgba(0, 0, 0, 0.2); }
      &:hover { background: lighten($secondary, 5%); }
    }
  }
}

.btn-container {
  display: block;
  margin-top: 10px;

  &.right {
    text-align: right;
  }
}