header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: $clr-light-blue-900;
  cursor: default;

  @include transition(box-shadow .2s ease-in-out);

  &.scrolled {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .btn {
    height: 100%;
    color: $clr-grey-100;
    padding: 15px 20px;
    vertical-align: middle;
  }
}

#logo {
  display: inline-block;
  text-align: center;
  padding: 15px 0;
  color: $clr-white;
}