// Vendors

@mixin vendorKeyValue($name, $argument...) {
  -webkit-#{$name}: -webkit-#{$argument};
  -moz-#{$name}: -moz-#{$argument};
  -ms-#{$name}: -ms-#{$argument};
  -o-#{$name}: -o-#{$argument};
  #{$name}: $argument;
}

@mixin vendorKey($name, $argument...) {
  -webkit-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -o-#{$name}: $argument;
  #{$name}: $argument;
}

@mixin vendorValue($name, $argument...) {
  #{$name}: -webkit-#{$argument};
  #{$name}: -ms-#{$argument};
  #{$name}: -moz-#{$argument};
  #{$name}: -o-#{$argument};
  #{$name}: $argument;
}

@mixin transition($transitions...) {
  @include vendorKey(transition, $transitions...);
}

@mixin transform($transforms) {
  @include vendorKey(transform, $transforms);
}

@mixin transitionTransform($additional) {
  @include vendorKeyValue(transition, transform $additional);
}

@mixin animation($attr...) {
  @include vendorKey(animation, $attr);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Fonts

@mixin font-normal {
  font-family: $roboto;
  font-weight: 300;
}

@mixin font-strong {
  font-family: $roboto;
  font-weight: 500;
}

// Media

@mixin sm {
  @media screen and (min-width: map-get($breakpoints, "sm")) {@content;}
}

@mixin md {
  @media screen and (min-width: map-get($breakpoints, "md")) {@content;}
}

@mixin lg {
  @media screen and (min-width: map-get($breakpoints, "lg")) {@content;}
}

@mixin xl {
  @media screen and (min-width: map-get($breakpoints, "xl")) {@content;}
}