$breakpoints: (
  "sm": 568px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
);

$header-height: 60px;

$roboto: 'Roboto', sans-serif;

$background: #f7f7f7;
$blue-background: #f3f3f9;

$primary: #477ab9;
$secondary: #ff9254;
$tertiary: #5d51c1;