$background: #f7f7f7;

$roboto: 'Roboto', sans-serif;

$white: #fff;
$red: #ee3823;
$ember: #fd9533;
$yellow: #fdb717;
$green: #8AC45F;
$blue: #477dca;
$blue-pastel: #779ECB;
$teal-dark: #354248;
$teal-light: #aeb3b6;
$grey: #ebebeb;
$grey-light: #f6f6f6;
$grey-dark: #b2b2b2;
$grey-darker: #555;
$grey-darkest: #262626;
$black: #000;

$primary: #477ab9 ;
$secondary: #ff9254;
$tertiary: #5d51c1;