// External imports
@import "../components/material-color/material-color.scss";

// Internal imports
@import "variables";
@import "mixins";
@import "icons";
@import "sections";
@import "components";

// Local imports
@import "keyframes";
@import "header";
@import "footer";
@import "auth";
@import "typer";

* {
  box-sizing: border-box;
}

body {
  padding-top: $header-height;
  line-height: 1.7em;
  background: $clr-grey-100;
  color: $clr-grey-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $secondary;
  font-family: $roboto;
  &:focus {
    outline: 0;
  }
}

p {
  font-family: $roboto;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  @include font-strong;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  margin: 10px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
  font-weight: 700;
}

section {
  position: relative;
  &.padded {
    margin: 50px auto;
  }
  &.white {
    background: $clr-white;
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.align {
  &.left { text-align: left; }
  &.center { text-align: center; }
  &.right { text-align: right; }
}