<!DOCTYPE html>
<html ng-app="typerace">
<head lang="en">
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">

    <title>TypeRace</title>

    <link href="//fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/typerace.min.css">

</head>
<body>

<header class="navbar-fixed">
    <nav class="header blue">
        <div class="nav-wrapper">
            <div ng-cloak class="left nav">
                <a ui-sref="home" class="waves-effect waves-light btn-flat white-text">About</a>
                <a ui-sref="home" class="waves-effect waves-light btn-flat white-text">Hall of Fame</a>
                <a ui-sref="home" class="waves-effect waves-light btn-flat white-text">Forums</a>
            </div>

            <div ng-cloak class="nav center" style="position: absolute; width: 100%;">
                <a ui-sref="index" class="brand-logo">tr.io</a>
            </div>

            <div ng-cloak class="right nav">
                <a ui-sref="about" class="effect waves-effect waves-light btn orange accent-1 black-text">Practice</a>
                <a ui-sref="about" class="effect waves-effect waves-light btn orange white-text">Race</a>
                <a ui-sref="auth" class="effect waves-effect waves-light btn-flat white-text">Sign in</a>
            </div>
        </div>
    </nav>
</header>

<ui-view autoscroll="false"></ui-view>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h5 class="white-text">TypeRace</h5>

                <p class="grey-text text-lighten-4">
                    Awsum.
                </p>
            </div>
            <div class="col s12 m6 l3 offset-l3" ng-if="$state.current.name !== 'take'">
                <h5 class="white-text">How to</h5>
                <ul>
                    <li><a class="white-text" ui-sref="home">Chop off a tree</a></li>
                    <li><a class="white-text" href="#!">Boo hoo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            tr.io &copy; 2015
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/typerace.js"></script>

</body>
</html>